@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Cabin", sans-serif;
  font-optical-sizing: auto;
  background-color: #e6e6fb;
  color: #18174a;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
main aside {
  background-color: #ee4d38;
  border-radius: 2rem;
  width: 15rem;
  height: 42rem;
}
main .container {
  height: 35rem;
  width: 60rem;
  margin-top: -2rem;
  margin-left: -11rem;
  border-radius: 2rem;
  background-color: white;
  display: flex;
}
main .container .side-section {
  width: 16rem;
  padding-left: 1.5rem;
  background-color: #f8f8ff;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container .side-section .profile-section {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .container .side-section .profile-section .profile-image {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
main .container .side-section .profile-section .profile-image img {
  width: 3rem;
  border-radius: 0.5rem;
}
main .container .side-section .profile-section .profile-image p {
  font-size: 0.8rem;
  font-weight: 900;
  margin-bottom: -0.3rem;
}
main .container .side-section .profile-section .profile-image span {
  font-size: x-small;
  color: rgba(24, 23, 74, 0.5);
}
main .container .side-section .profile-section .other-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}
main .container .side-section .profile-section .icon-section {
  color: rgba(24, 23, 74, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .container .side-section .profile-section .icon-section:hover {
  color: rgb(24, 23, 74);
}
main .container .side-section .profile-section .icon-section:hover::before {
  content: "";
  margin-left: -0.7rem;
  border-radius: 1rem;
  width: 4px;
  height: 100%;
  background-color: red;
}
main .container .side-section .profile-section .icon-section p {
  font-size: 0.7rem;
}
main .container .side-section .profile-section .icon-section .icon {
  font-size: 1.5rem;
}
main .container .side-section .last-icon-section {
  margin-left: -0.5rem;
  margin-bottom: 1.5rem;
  color: rgba(24, 23, 74, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .container .side-section .last-icon-section:hover {
  color: rgb(24, 23, 74);
}
main .container .side-section .last-icon-section:hover::before {
  content: "";
  margin-left: -0.7rem;
  border-radius: 1rem;
  width: 4px;
  height: 100%;
  background-color: red;
}
main .container .side-section .last-icon-section .icon {
  font-size: 1.5rem;
}
main .container .billing-page {
  background-color: #ffffff;
  margin: 3rem;
}
main .container .billing-page .history {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: start;
}
main .container .billing-page .history .plan {
  background-color: #ee4d38;
  color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 9rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container .billing-page .history .plan p:nth-child(1) {
  font-size: small;
  margin-top: 0.6rem;
}
main .container .billing-page .history .plan p:nth-child(2) {
  font-weight: bold;
}
main .container .billing-page .history .plan p:nth-child(3) {
  font-size: x-small;
  margin-top: -1rem;
}
main .container .billing-page .history .plan a {
  color: inherit;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */