// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', 'Cabin', sans-serif;
	font-optical-sizing: auto;
	background-color: #e6e6fb;
	color: #18174a;
	height: 100vh;
}
main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	aside {
		background-color: #ee4d38;
		border-radius: 2rem;
		width: 15rem;
		height: 50rem;
	}
	.container {
		height: 43rem;
		width: 70rem;
		margin-top: -2rem;
		margin-left: -11rem;
		border-radius: 2rem;
		background-color: white;
		display: flex;
		.side-section {
			width: 16rem;
			padding-left: 1.5rem;
			background-color: #f8f8ff;
			border-top-left-radius: 2rem;
			border-bottom-left-radius: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.profile-section {
				padding-top: 3rem;
				display: flex;
				flex-direction: column;
				gap: 3rem;
				.profile-image {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					cursor: pointer;
					img {
						width: 3rem;
						border-radius: 0.5rem;
					}
					p {
						font-size: 0.8rem;
						font-weight: 900;
						margin-bottom: -0.3rem;
					}
					span {
						font-size: x-small;
						color: rgb(24, 23, 74, 0.5);
					}
				}
				.other-section {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					gap: 0.5rem;
				}
				.icon-section {
					color: rgb(24, 23, 74, 0.6);
					cursor: pointer;
					display: flex;
					align-items: center;
					gap: 0.5rem;
					&:hover {
						color: rgb(24, 23, 74);
						&::before {
							content: '';
							margin-left: -0.7rem;
							border-radius: 1rem;
							width: 4px;
							height: 100%;
							background-color: red;
						}
					}
					p {
						font-size: 0.7rem;
					}
					.icon {
						// margin-top: -0.1rem;
						font-size: 1.5rem;
					}
				}
			}
			.last-icon-section {
				margin-left: -0.5rem;
				margin-bottom: 1.5rem;
				color: rgb(24, 23, 74, 0.6);
				cursor: pointer;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				&:hover {
					color: rgb(24, 23, 74);
					&::before {
						content: '';
						margin-left: -0.7rem;
						border-radius: 1rem;
						width: 4px;
						height: 100%;
						background-color: red;
					}
				}
				.icon {
					font-size: 1.5rem;
				}
			}
		}
		.billing-page {
			background-color: #ffffff;
			margin: 3rem;
			.history {
				margin-top: 3rem;
				display: grid;
				grid-template-columns: 4fr 1fr;
				align-items: start;
				.order-history {
					display: flex;
					flex-direction: column;
					gap: 2rem;
					.history-heading {
						p {
							font-weight: 900;
						}
						span {
							font-size: small;
						}
					}
					.history-content {
						width: 32rem;
						display: flex;
						flex-direction: column;
						gap: 0.3rem;
						.head-content {
							display: grid;
							grid-template-columns: repeat(3, 1fr);
							grid-gap: 6rem;
							span {
								font-size: small;
								text-align: left;
								&:nth-child(2) {
									margin-left: -2rem;
								}
							}
						}
						.row {
							margin-left: -0.5rem;
							padding: 0.5rem;
							border-radius: 0.5rem;
							display: grid;
							grid-template-columns: repeat(3, 1fr);
							grid-gap: 5rem;
							align-items: center;
							font-weight: bold;
							cursor: pointer;
							&:hover {
								box-shadow: -1px 1px 2px 1px rgb(24, 23, 74, 0.2);
							}
							p {
								&:nth-child(2) {
									margin-left: -1.6rem;
								}
							}
							a {
								text-decoration: none;
								color: inherit;
								border: 1px solid rgb(24, 23, 74, 0.2);
								width: 5rem;
								padding: 0.5rem;
								border-radius: 0.5rem;
								text-align: center;
								margin-left: 1rem;
							}
						}
						.last-row {
							font-weight: bold;
							text-decoration: underline;
							color: #ee4d38;
							cursor: pointer;
						}
					}
					.footer {
						margin-top: 2rem;
						margin-bottom: 1rem;
						.payment-heading {
							font-weight: 900;
						}
						span {
							font-size: small;
						}
						.payment-section {
							margin-top: 1rem;
							display: flex;
							justify-content: space-between;
							align-items: center;
							.payment-option {
								display: flex;
								gap: 0.5rem;
								.visa-icon {
									font-size: 3.5rem;
									place-content: center;
									height: 2rem;
									padding: 0.5rem 0.5rem 0;
									border-radius: 0.3rem;
									color: #002298;
									border: 1px solid rgb(24, 23, 74, 0.2);
								}
								.visa-info {
									margin-top: 0.5rem;
									font-size: small;
									font-weight: bold;
									color: #222152;
								}
							}
							.remove-button {
								text-decoration: none;
								font-weight: bold;
								color: inherit;
								border: 1px solid rgb(24, 23, 74, 0.2);
								width: 4rem;
								padding: 0.5rem;
								border-radius: 0.5rem;
								text-align: center;
								margin-right: 3rem;
							}
						}
					}
				}
				.plan {
					background-color: #ee4d38;
					color: white;
					padding: 1.5rem;
					border-radius: 1rem;
					width: 9rem;
					height: 8rem;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					p {
						&:nth-child(1) {
							font-size: small;
							margin-top: 0.6rem;
						}
						&:nth-child(2) {
							font-weight: bold;
						}
						&:nth-child(3) {
							font-size: x-small;
							margin-top: -1rem;
						}
					}

					a {
						color: inherit;
						text-decoration: none;
						border: 1px solid white;
						padding: 0.5rem;
						border-radius: 0.3rem;
						font-size: 0.8rem;
						text-align: center;
					}
				}
			}
		}
	}
}
