body {
	background-color: #f5f8fb;
	color: #4a5073;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 3rem 0;
	margin-top: 1.5rem;
}
a {
	text-decoration: none;
	color: inherit;
}
.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 28rem;
	background-color: white;
	border: none;
	margin-top: 0;
	padding: 1rem 3rem;
	border-radius: 0.5rem;
}
.centralized {
	align-self: center;
}
input,
select {
	height: 2rem;
	border: 1px solid;
	border-radius: 0.5rem;
	color: #939bcf;
	-webkit-appearance: none;
}
.button {
	background-color: #262b40;
	border: 1px solid white;
	padding: 0.8rem;
	font-size: larger;
	font-weight: bold;
	border-radius: 0.5rem;
	text-align: center;
	color: white;
}
