@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  color: black;
}

.side-nav {
  height: 100vh;
  width: 18rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-y: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.side-nav .topside-nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-left: 1rem;
}
.side-nav .topside-nav .fa-bars {
  font-size: 2rem;
}
.side-nav .topside-nav .topside-right {
  display: flex;
  align-items: center;
}
.side-nav .topside-nav .topside-right .fa-youtube {
  color: red;
  font-size: 2rem;
}
.side-nav .topside-nav .topside-right p {
  font-weight: bolder;
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
}
.side-nav .home {
  margin-top: 1rem;
  background-color: #f2f2f2;
}
.side-nav a {
  text-decoration: none;
  color: inherit;
  width: 70%;
  place-content: center;
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
}
.side-nav a:hover {
  background-color: #f2f2f2;
}
.side-nav a .fa-tv {
  margin-right: -0.4rem;
}
.side-nav a span {
  margin-left: 3rem;
  font-size: large;
}
.side-nav hr {
  align-self: stretch;
  margin: 0.5rem;
}
.side-nav .you {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 22rem;
  height: 10rem;
  background-color: white;
  width: calc(100% - 22rem);
}
.navbar .top-nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 1rem 0;
  margin-left: 10rem;
  margin-right: 2rem;
}
.navbar .top-nav .search {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 60%;
}
.navbar .top-nav .search .search-input {
  height: 100%;
  width: 100%;
  border: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  height: 2.5rem;
  border-radius: 25px;
}
.navbar .top-nav .search .search-input input {
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  color: black;
  padding-left: 0.7rem;
  font-size: 1.1rem;
  width: 100%;
}
.navbar .top-nav .search .search-input .search-icon {
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.2rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.navbar .top-nav .search .search-mic {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}
.navbar .top-nav .profile {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}
.navbar .top-nav .profile .create-video-icon i, .navbar .top-nav .profile .notification-icon i {
  font-size: 2rem;
}
.navbar .top-nav .profile .notification-icon {
  position: relative;
}
.navbar .top-nav .profile .notification-icon p {
  background-color: rgb(199, 13, 13);
  color: white;
  font-size: 0.8rem;
  height: 1rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  position: absolute;
  top: -5%;
  right: -30%;
}
.navbar .top-nav .profile .profile-picture {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .top-nav .profile .profile-picture img {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  border: 1px solid gray;
}
.navbar .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .buttons .select, .navbar .buttons .select:hover {
  background-color: black;
  color: white;
}
.navbar .buttons a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: small;
  border-radius: 0.2rem;
}
.navbar .buttons a:hover {
  background-color: #ccc2c2;
}

.container {
  margin: 11rem 0 0 22rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.container .channel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.4rem;
}
.container .channel .thumbnail {
  position: relative;
}
.container .channel .thumbnail img {
  width: 17rem;
  border-radius: 0.5rem;
}
.container .channel .thumbnail p {
  position: absolute;
  bottom: 7.4%;
  right: 2.5%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  color: white;
  font-size: x-small;
  font-weight: bold;
}
.container .channel .content-info {
  display: flex;
  gap: 0.5rem;
}
.container .channel .content-info .profile img {
  height: 2rem;
  width: 2rem;
  border-radius: 1.5rem;
}
.container .channel .content-info .info {
  display: flex;
  flex-direction: column;
}
.container .channel .content-info .info .topic {
  font-size: 0.8rem;
  font-weight: 450;
  width: 14rem;
}
.container .channel .content-info .info .name {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: #686565;
}
.container .channel .content-info .info .add-info {
  font-size: 0.8rem;
  color: #686565;
  margin-top: -0.2rem;
  display: flex;
  align-items: end;
  gap: 0.2rem;
}
.container .channel .content-info .info .add-info .dot {
  font-weight: bold;
  font-size: medium;
  padding-bottom: 0.1rem;
}/*# sourceMappingURL=youtube.css.map */