@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	width: 100%;
	color: black;
}
.side-nav {
	height: 100vh;
	width: 12rem;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	overflow-y: auto;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	.topside-nav {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-left: 1rem;
		.fa-bars {
			font-size: 1.5rem;
		}
		.topside-right {
			display: flex;
			align-items: center;
			.fa-youtube {
				color: red;
				font-size: 1.5rem;
			}
			p {
				font-weight: bolder;
				font-size: 1.3rem;
				letter-spacing: -0.1rem;
			}
		}
	}
	.home {
		margin-top: 1rem;
		background-color: rgb(226, 220, 220);
	}
	a {
		text-decoration: none;
		color: inherit;
		width: 85%;
		place-content: center;
		padding: 0.4rem 0.7rem;
		border-radius: 0.5rem;
		margin: 0.2rem;

		.fa-tv {
			margin-right: -0.4rem;
		}

		span {
			margin-left: 1rem;
		}
	}
	hr {
		align-self: stretch;
		margin: 0.5rem;
	}
	.you {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 0.5rem;
	}
}
.navbar {
	position: fixed;
	top: 0;
	left: 15rem;
	height: 8rem;
	width: calc(95% - 22rem);
	.top-nav {
		display: flex;
		justify-content: space-between;
		padding: 1rem 0;
	}
}
.container {
	background-color: green;
	margin: 10rem 0 0 15rem;
	height: 100%;
	width: 100%;
}
